<div class="modal-header">
  <h4 class="modal-title" ng-switch on="modal.config.type">
    <i ng-if="modal.config.type === 'danger' || modal.config.type === 'error'" class="fa fa-exclamation-circle"></i>
    <i ng-if="modal.config.type === 'success'" class="fa fa-check-circle"></i>
    <i ng-if="modal.config.type === 'info'" class="fa fa-info-circle"></i>
    {{modal.config.title}}
  </h4>
</div>

<div class="modal-body">
  <div class="message" ng-if="modal.config.message">
    {{modal.config.message}}
  </div>

  <ul class="list-unstyled details" ng-if="modal.config.details">
    <li ng-repeat="detail in modal.config.details">
      <div ng-class="'alert alert-' + detail.type">
        {{detail.description}}
      </div>
    </li>
  </ul>
</div>

<div class="modal-footer">
  <button
      class="btn btn-default"
      type="button"
      ng-if="modal.config.cancelBtnText"
      ng-click="modal.dismiss()">
    {{modal.config.cancelBtnText}}
  </button>


  <button
      class="btn btn-primary"
      type="button"
      ng-if="modal.config.okBtnText"
      ng-click="modal.close()">
    {{modal.config.okBtnText}}
  </button>
</div>
