<h2>Home page content</h2>
<button type="button" ui-sref="main.login">Go to Login</button>

<div class="row">
  <div class="col-xs-24">
    <p>
      Translated string: {{'HELLO' | translate}} , {{'HOMEPAGE_CLAIM' | translate}}
    </p>
    <button type="button"
        class="switch-to-ita"
        ng-click="homePage.changeLanguage('it')">
      Italiano
    </button>
    <button type="button"
        class="switch-to-en"
        ng-click="homePage.changeLanguage('en')">
      English
    </button>
    <button type="button"
        class="switch-to-pl"
        ng-click="homePage.changeLanguage('pl')">
      Polski
    </button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Model one prefetched data</h4>
    {{homePage.modelOneService.dataList}}
  </div>
  <div class="col-xs-12">
    <h4>Model two api mocked data</h4>
    {{homePage.modelTwoService.dataList}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Test modal</h4>
    <button type="button" ng-click="homePage.openModal()">Open Modal</button>
  </div>
  <div class="col-xs-12">
  </div>
</div>
